[submodule "ImageRetrievebyGraph/ImageRetrievebyGraph/UsefulSnippets"]
	path = ImageRetrievebyGraph/ImageRetrievebyGraph/UsefulSnippets
	url = git@github.com:shikbupt/UsefulSnippets.git
[submodule "ImageRetrievebyGraph/ImageRetrievebyGraph/ImgGraph"]
	path = ImageRetrievebyGraph/ImageRetrievebyGraph/ImgGraph
	url = https://github.com/shikbupt/ImgGraph.git
